/* Déf des polices */

@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("polices/Raleway-ExtraBold.ttf");
}

/* Eléments principaux de la page */

body,
html {
  width: 100%;
  font-family: "Raleway", "Arial", "sans-serif";
  margin: 0px;
}

header {
  width: 100%;
  font-family: "Raleway", "Arial", "sans-serif";
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  justify-content: space-around;
  font-size: small;
  text-decoration: none;
  margin-top: 10px;
}

#logo {
  display: flex;
  margin-left: 30px;
}

#hostings {
  margin-top: 0%;
  margin-left: 70%;
}

#hostings a,
#activities a {
  text-decoration: none;
  color: #677179;
}
#signup a {
  text-decoration: none;
  color: #0065fc;
}

#signup a {
  font-weight: bold;
}

#hostings a:hover,
#activities a:hover,
#signup a:hover {
  border-top: 3px solid #0065fc;
  padding-top: 22px;
  margin-top: unset;
  color: #0065fc;
}

#title_description {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
}
#title_description p {
  margin-top: 10px;
  margin-bottom: 15px;
}

h1 {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 1px;
}

#search {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 30px;
}

.form_search {
  display: flex;
  border: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  border-radius: 15px 15px 15px 15px;
  padding: 0px;
}
.search-location {
  display: block;
  padding: 10px 15px;
}

.input_search {
  display: flex;
  font-family: Raleway Bold;
  border-color: #f2f2f2;
  border-style: solid;
  padding-right: 90px;
  text-align: center;
}
.button_search {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: "Raleway";
  padding: 10px 10px 10px 10px;
  background: #0065fc;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
  border: 5px;
}
#filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.filters_title {
  display: flex;
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.filters_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filters_buttons {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  border: 2px solid #d9d9d9;
  background-color: transparent;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: bold;
  height: 40px;
  padding-right: 20px;
}

.filters_buttons:hover {
  color: #0065fc;
  background-color: #deebff;
  border-color: #deebff;
}
.filters_icons {
  width: 40px;
  height: 40px;
  background-color: #deebff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -8px;
  color: #0065fc;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  margin-left: 50px;
  margin-bottom: 20px;
}

.info_icon {
  display: flex;
  align-items: center;
  line-height: 20px;
  margin-right: 10px;
  color: #0065fc;
  position: relative;
  right: 2px;
  text-align: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 2px #c0c0c0 solid;
  border-radius: 100%;
}

/*media-queries pour le header*/

@media all and (max-width: 600px) {
  body,
  html {
    font-family: "Raleway", "Arial", "sans-serif";
    width: 100%;
  }
  nav {
    display: flex;
    margin: 2%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
    text-decoration: none;
  }

  #logo {
    margin-left: 20px;
  }

  #hostings,
  #activities {
    margin-top: 10%;
    order: 3;
    padding-bottom: 4%;
    font-size: large;
    width: 50%;
    text-align: center;
    margin-left: 0%;
    /* border-bottom: 2px #c0c0c0 solid; */
  }
  #activities {
    order: 4;
  }
  #signup {
    margin-left: 50%;
    margin-right: 5%;
  }
  /* #hostings a:hover,
  #activities a:hover,
  #signup a:hover {
    border-top: none;
    padding-top: 22px;
    margin-top: unset;
    color: #0065fc;
  } */
  #hostings a,
  #activities a {
    display: block;
    padding-bottom: 20px;
    border-bottom: 2px solid #c0c0c0;
  }
  #hostings a:hover,
  #activities a:hover,
  #activities a:active,
  #hostings a:active {
    display: block;
    padding-top: 0;
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 20px;
    margin-top: unset;
    color: #0065fc;
  }

  #title_description {
    margin-left: 20px;
  }
  #search {
    margin-left: 20px;
  }
  h1 {
    font-size: 20px;
  }

  .button_search {
    display: none;
  }

  .button_search_icon {
    display: block;
    padding: 10px 10px 10px 10px;
    background: #0065fc;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 5px;
  }
  .info {
    margin-left: 20px;
  }
  .info_icon {
    width: 30px;
    height: 25px;
  }

  #filters {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: unset;
  }

  .filters_options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  }
}

@media all and (min-width: 600px) and (max-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: unset;
    font-size: small;
    text-decoration: none;
    width: 100%;
  }
  #hostings,
  #activities,
  #signup {
    margin-top: 0%;
    margin-right: 2%;
  }
  #hostings {
    margin-left: 50%;
  }
  #activities,
  #signup,
  #logo {
    margin-left: 2%;
  }

  .button_search_icon {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .button_search_icon {
    display: none;
  }
}

/*fin des media queries pour le header*/

/* fin du Header */

#Marseille_populars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

#Marseille_hostings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 30px 30px 0px 30px;
  border-radius: 20px;
  max-width: 55%;
  height: fit-content;
}

#populars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  background-color: #f2f2f2;
  padding: 30px 30px 30px 30px;
  border-radius: 20px;
  max-width: 35%;
  height: fit-content;
}

.container_Marseille_hostings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
}

.container_populars_hostings {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: space-around;
  height: 100%;
}

.article a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.hostingMarseilleFigure {
  display: flex;
  margin: inherit;
}

.hostingpopFigure {
  display: flex;
  margin: inherit;
}

.article_pop a {
  display: flex;
  width: 360px;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
}
.hostingnight {
  color: black;
}

.article .hostingnight {
  color: black;
  position: relative;
  display: inline;
  margin-left: 10px;
  margin-bottom: 10px;
}
.hostingnotation {
  color: #0065fc;
  position: relative;
  display: flex;
  height: fit-content;
  margin-left: 10px;
  margin-bottom: 10px;
}

.fas[data-active="false"] {
  color: #d9d9d9;
}

.populars_title_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  color: black;
  position: relative;
  padding-right: 5px;
}
h4 {
  margin-left: 3px;
  margin-top: 0px;
}

.article h3 {
  display: inline;
  height: fit-content;
  margin-left: 10px;
  margin-top: -15px;
  margin-bottom: -10px;
}

h2 {
  font-size: large;
  position: relative;
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 20px;
  margin-top: 0px;
}

.article img {
  object-fit: cover;
  height: 110px;
  width: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px 5px 5px;
  background-color: white;
}
.article_pop img {
  object-fit: cover;
  width: 132px;
  height: 132px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 5px 5px 5px;
  background-color: white;
}

.show_more {
  display: flex;
  width: 100%;
  margin: unset;
}
.show_more a {
  display: flex;
  text-decoration: none;
  color: black;
}
/*Fin de la partie Hebergements*/

/*media-queries pour les hebergements*/

@media all and (max-width: 600px) {
  #Marseille_populars {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
  }

  #populars,
  #Marseille_hostings {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    height: fit-content;
    margin-bottom: 10%;
    border-radius: unset;
    max-width: unset;
    width: 100%;
  }

  #populars {
    background-color: #f2f2f2;
  }

  #Marseille_hostings {
    background-color: unset;
  }
  .article img {
    width: 300px;
  }
  #Marseille_activities {
    margin-top: unset;
  }
}
@media all and (min-width: 600px) and (max-width: 1024px) {
  #Marseille_populars {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
  }

  #populars,
  #Marseille_hostings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: fit-content;
    margin-bottom: 10%;
    border-radius: unset;
    max-width: unset;
    width: 100%;
  }
  #populars {
    background-color: unset;
  }
  .container_populars_hostings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 2rem;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
  }
}
/* fin des media queries hebergements*/

#Marseille_activities {
  margin-top: 5%;
  height: fit-content;
  padding: 30px 30px 30px 50px;
}

.container_activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container_activities a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
}
.activityMarseilleFigure {
  margin: initial;
}
.activityMarseilleimg1,
.activityMarseilleimg4 {
  object-fit: cover;
  width: 320px;
  height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activityMarseilleimg2 {
  object-fit: cover;
  width: 320px;
  height: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activityMarseilleimg3 {
  object-fit: cover;
  order: 3;
  width: 320px;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activityMarseilleimg5,
.activityMarseilleimg6 {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 320px;
  height: 185px;
}

.thumbnail {
  background-color: white;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 20px;
  margin-bottom: 20px;
}
.article_big {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-sizing: border-box;
}
.article_little1 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-sizing: border-box;
}

.article_little2 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-sizing: border-box;
}

/* Media queries activities */

@media all and (max-width: 600px) {
  #Marseille_activities img {
    height: 120px;
    width: 310px;
  }
}

/*fin des media queries activities*/

footer {
  flex-wrap: wrap;
  background-color: #f2f2f2;
  font-size: 18px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0px 50px;
}
.footer_column1 {
  flex-grow: 1;
}
.footer_column2,
.footer_column3 {
  flex-grow: 2;
}

.footer_column_title {
  font-weight: bold;
}

/*media queries footer*/

@media all and (max-width: 600px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: unset;
  }
}
